.flex-container{
    display: flex;
    padding-left: 20px;
    color: tomato;
    border: 1px solid gray;
}
#button-added{
    display: flex;
    padding-left: 50%;
}
#Deffirent-button{
    padding-right: 40px;
    margin-top: 20px;
}
#button-deft{
    padding-right: 40px;
    margin-top: 20px;
}
#hire-button{
    padding-right: 40px;
    margin-top: 35px;
}
.image-section{
    padding-left: 60%;
    padding-top: 10px;
   
}
.whole{
    background-image: linear-gradient(rgb(216, 193, 189), rgb(214, 187, 135));
}
.describe-section{
    padding-left: 20px;

}